/* General Styles */

.text-container {
    max-height: 6em; /* Ograniczenie do około 4-5 linijek */
    overflow: hidden;
    position: relative;
    line-height:1.5em;
    transition: max-height 0.3s ease;
}
.fade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    background: linear-gradient(to bottom, rgba(17, 23, 79, 0), #11174f);
}

body {
    font-family:'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #b23609ca;
}

header {
    background-color:#11174F;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.cta-button {
    background-color: #FF8C00; /* Pumpkin */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}


/* Styl dla sekcji Services */
.services {
    color: #333; /* Ciemniejszy kolor tekstu */
    height: 30vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Styl dla sekcji About */
.about {
    background-image: url('utils/cover_p3.jpg'); /* Tło dla sekcji about */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    padding: 50px 20px;
    height: 30vh;
}

/* Styl dla przycisków */
.cta-button {
    background-color:#333;
    color:#f9f9f9;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.cta-button:hover {
    background-color: #b23609ca;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}


#about {
    background-color: #fff;
}


.service-card {
    background-color: #11174F; /* Pumpkin */
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    width: 33.%;
}
.service-death-insurance {
    /*background-image: url('utils/cover_p3.jpg');*/ /* Tło dla sekcji ubezpieczenie na wypadek śmierci */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    padding: 50px 20px;
}
.service-disability-insurance {
    /*background-image: url('utils/cover_p3.jpg');*/ /* Tło dla sekcji ubezpieczenie na utratę sprawności */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    padding: 50px 20px;
}
.service-serious-diseases-insurance {
    /*background-image: url('utils/cover_p3.jpg');*/ /* Tło dla sekcji ubezpieczenie na wypadek diagnozy chorób ciężkich */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    padding: 50px 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
