/* General Styles */
body {
    font-family:'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color:#602610ca;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.cta-button {
    background-color: #FF8C00; /* Pumpkin */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.hero {
    background-image: url('utils/cover_p1.jpg'); /* Tło dla sekcji hero */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: right;
    padding: 2vh 2vh;
    height: 30vh; /* Pełna wysokość ekranu */
}

/* Styl dla sekcji Services */
.services {
    background-image: url('utils/cover_p2.jpg'); /* Tło dla sekcji services */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333; /* Ciemniejszy kolor tekstu */
    text-align: right;
    padding: 50px 20px;
    height: 30vh;
}

/* Styl dla sekcji About */
.about {
    background-image: url('utils/cover_p3.jpg'); /* Tło dla sekcji about */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    padding: 50px 20px;
    height: 30vh;
}

/* Styl dla przycisków */
.cta-button {
    background-color:#333;
    color:#f9f9f9;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.cta-button:hover {
    background-color: #b23609ca;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}


#about {
    background-color: #fff;
}

#services {
    background-color: #FFEDD5; /* Light pumpkin */
}

.service-card {
    background-color: #FF8C00; /* Pumpkin */
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
}
.service-death-insurance{
    background-image: url('utils/cover_p3.jpg'); /* Tło dla sekcji ubezpieczenie na wypadek śmierci */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    padding: 50px 20px;
    height: 30vh;
}

#testimonials {
    background-color: #fff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
