/* General Styles */
.phone-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#phone-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #007bff;
    border: none;
    cursor: pointer;
}

#phone-button img {
    width: 30px;
    height: 30px;
}
#contact-form {
    position: fixed;
    bottom: 80px;
    right: 20px;
    text-align: center;
    z-index: 1000;
}

.contact-form-background {
    background-color: #ffffff;
    width: 265px;
    padding: 20px;
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
}

.header-background {
    background-color: #11174f;
    height: 40px;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.form-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.phonenumber, .topic-select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.submit-button {
    background-color: #11174f;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0d0f2a;
}

.hidden {
    display: none;
}

body {
    font-family:'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color:#11174F;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.cta-button {
    background-color: #FF8C00; /* Pumpkin */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.hero {
    background-image: url('utils/cover_p1.jpg'); /* Tło dla sekcji hero */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: right;
    padding: 2vh 2vh;
    height: 30vh; /* Pełna wysokość ekranu */
}

/* Styl dla sekcji Services */
.services {
    background-image: url('utils/cover_p2.jpg'); /* Tło dla sekcji services */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333; /* Ciemniejszy kolor tekstu */
    text-align: right;
    padding: 50px 20px;
    height: 30vh;
}

/* Styl dla sekcji About */
.about {
    background-image: url('utils/cover_p3.jpg'); /* Tło dla sekcji about */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    padding: 50px 20px;
    height: 30vh;
}

/* Styl dla przycisków */
.cta-button {
    background-color:#333;
    color:#f9f9f9;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.cta-button:hover {
    background-color: #b23609ca;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}


#about {
    background-color: #fff;
}

#services {
    background-color: #FFEDD5; /* Light pumpkin */
}

.service-card {
    background-color: #FF8C00; /* Pumpkin */
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
}
.service-death-insurance {
    /*background-image: url('utils/cover_p3.jpg');*/ /* Tło dla sekcji ubezpieczenie na wypadek śmierci */
    background-color: #b23609ca;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    padding: 50px 20px;
    min-height: 30vh;
}
.service-disability-insurance {
    /*background-image: url('utils/cover_p3.jpg');*/ /* Tło dla sekcji ubezpieczenie na utratę sprawności */
    background-color: #b23609ca;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    padding: 50px 20px;
    min-height: 30vh;
}
.service-serious-diseases-insurance {
    /*background-image: url('utils/cover_p3.jpg');*/ /* Tło dla sekcji ubezpieczenie na wypadek diagnozy chorób ciężkich */
    background-color: #b23609ca;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: left;
    padding: 50px 20px;
    min-height: 30vh;
}

#testimonials {
    background-color: #fff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
